


.btn {
    -fx-text-alignment: center;
    -fx-pref-height: 38px;
    -fx-padding: 0 18px;
    -fx-border-style: none;
    -fx-cursor: pointer;
}

.btn-default {

    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.btn:hover {
    -fx-font-weight: bold;
    -fx-opacity: 0.8;
}



.welcome-text {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}